<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://cit360.database.windows.net:1433;database=budget;encrypt=true;hostNameInCertificate=*.database.windows.net;loginTimeout=30;</property>
        <property name="hibernate.connection.username">REMOVED</property>
        <property name="hibernate.connection.password">REMOVED</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.show_sql">true</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Table Mappings -->
        <mapping class="entity.Expense"/>
        <mapping class="entity.Category"/>
    </session-factory>
</hibernate-configuration>